* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	color: #484848;
	font-size: 14px;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
	--main-color: #FF5A5F;
	--border-color: #DDDDDD;
}
body {
	padding-bottom: 30px;
	min-height: 100vh;
	position: relative;
}
ul {
	list-style: none;
}
button {
	outline: none;
	border: none;
	cursor: pointer;
}
.container {
	max-width: 1000px;
	margin: 100px auto 30px;
}
